body{
  border: 1px solid black;
}

h1{
	text-align: center; 
	margin: 3px;
}

#STEP{
background-color: grey; 
color: white; 
text-align: center; 
margin: 0px;}

#h2{
position: relative; 
left: 30%; 
text-decoration: underline; 
letter-spacing: 5px; 
text-transform: uppercase; 
margin: 10px; 
display: inline-block;
}

#strong{
border: 2px solid black; 
float: right; 
padding: 2px; 
margin-top: 7px;
position: relative;
right: 1%;
}

.input{
margin-left: 5px;
border: 0;
border-bottom: 1px solid black; 
outline: none;
}

.line{
margin-left: 5px;
border: 0;
border-bottom: 1px solid black;
outline: none;
}

#input-edu{
  display: block;
width: 98.5%;
}

#input-ad{
width: 93%;
}

#input-why{
width: 92.5%;
}

*{
overflow: visible;
}

#ol-form-education{
list-style-type: none; 
float: left; 
height: 15px;
margin-top: 2px; 
padding-left: 0px;
position: relative;
left: 4%;
}

.input-form-education{
width: 25px; 
height: 25px;
}

.li-form-education{
display: inline-block;
margin-right: 55px;
}

#h3-form-education{
margin: 0px; 
text-align: center;
}


.ol-left{
list-style-type: none; 
text-align: left;
padding-left: 0px;
position: relative;
left: 7%;
display: inline-block;
margin-right: 300px;
}

.ol-right{
list-style-type: none; 
padding-left: 0px;
display: inline-block;
}

.li{
margin-bottom: 10px;
}

.li-footer{
display: inline-block;
}

.none{
  text-decoration: none;
}













