@font-face {
  font-family: 'InterstatePlus-Bold';
  src: url('InterstatePlus-Bold.eot');
  src: url('InterstatePlus-Bold.woff2') format('woff2'),
       url('InterstatePlus-Bold.woff') format('woff'),
       url('InterstatePlus-Bold.ttf') format('truetype'),
       url('InterstatePlus-Bold.svg#InterstatePlus-Bold') format('svg'),
       url('InterstatePlus-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

