/*@font-face{
	src:url(font/Glasgow-Medium.ttf);
	font-style: italic;
}*/

html{
	height: 100%;
}

body {
	margin: 8px 25px 8px 25px;
	font-family: arial, sans-serif;
	background: rgb(255, 243, 230);
}

footer {
	margin-top: 20px;
	background: linear-gradient(rgb(255, 243, 230), rgb(255, 218, 179)); 
	background-repeat: no-repeat;
}

header {
	margin-top: 20px;
	background: linear-gradient(rgb(255, 218, 179), rgb(255, 243, 230)); 
	background-repeat: no-repeat;
}

.a-coments{
	font-size: 13px;
}

.ib{
	display: inline-block;
}

.none{
	list-style-type: none;
}

.header-a{
	font-size: 15px;
	font-style: italic;
}

header div ul li{
	font-style: italic;
}

.img{
	display: block; 
	margin-top: 10px;
}

#second-div{
	position: relative; 
	bottom: 55px; 
	padding: 12px; 
	border-right: 1px solid #b4b4b4; 
	border-bottom: 1px solid #b4b4b4; 
	width: 382px;
}

#img-casle{
	width: 382px;
}

#h3-title{
	display: inline-block; 
	margin-left: 7px; 
}

#i{
	display: block; 
	margin-left: 7px; 
}

#i-more{
	color: #b4b4b4;
	position: relative; 
	left: 6%; 
	display: inline-block;
}

#hr-left{
	width: 40%; 
	float: left;
}

#hr-right{
	width: 43%; 
	float: right;
}


.ul-navigator-bar{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #333;
	padding-left: 8px;
	width: 98.75%;
}

.li-navigator-bar{
	float: left;
}

.li-a-nav-bar{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#div-corked{
	text-align: right;
	display: inline-block;
}

#div-notice{
	text-align: right;
}

#div-img-notice{
	position: relative; 
	left: -5px;
}

#img-vine1-big{
	width: 953px;
}

#img-vine2-smoll{
	display: block; 
	width: 105px;
	margin-top: -4px; 
	margin-left: 49px; 
	margin-bottom: 50px;
}

.b{
	display: block;
}

#img-cost{
	width: 23px; 
	height: 23px;
}

div ul li a{
	text-transform: capitalize;
}


#img-endvine{
	margin-right: 20px;
}

#span-text1{
	width: 300px; 
	float: right;
}

#span-text2{
	width: 300px; 
	float: right;
	position: relative;
	top: -30px;
}

.h3-footer{
	text-transform: uppercase;
}

#div-footer{
	text-align: right;
	display: inline-block;
	position: relative;
	top: -20px;
}

#div-wine-spinner{
	text-align: left;
	display: inline-block;
	position: relative;
	top: -19px;
}

#div-wine-rack{
	text-align: left;
	display: inline-block;
	position: relative;
	top: -19px;
}

#h1-corced{
	margin: 0;
}

#div-many-photos{
	width: 559px;
}

.img-cost-blue{
	width: 23px; 
	height: 23px;
}

#p-endvine{
	margin-top: 56px;
}

#div-second-column{
	position: relative; 
	top: -195px;
}

#img-email{
	margin-bottom: 20px;
}

#h1-footer{
	margin: 0;
	font-size: 25px;
}

#p-footer{
	margin:0 0 25px 0;
	font-size: 15px;
	color: #b4b4b4;
}

#div-circle{
	padding: 75px 55px 75px 55px; 
	border-radius: 80%; 
	background-color: black; 
	color: white; 
	text-align: center;
}

.p-circle{
	margin: 0;
}

#p-circle-last{
	margin: 0 0 30px 0;
}

h1,h2,h3,h4,h5,h6{
	color: #660033;
}

a{
	color: #009999;
}

header span{
	color: #b4b4b4;
	font-style: italic;
}